/* Codes here are NOT scoped to Person.js, it is global CSS code */
 /* These style rules are injected dynamically by webpack into index.html */

.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}